* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
  color: white;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: #333;
}
::-webkit-scrollbar-track {
  background-color: #222;
}
.container {
  display: flex;
}
.left {
  width: 25vw;
  padding: 3px;
}
.right {
  margin-top: 8px;
  width: 75vw;
  height: 88vh;
  overflow-y: scroll;
  background-color: #1b1b1b;
  position: relative;
}
.home ul li {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 14px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
  margin-top: 5px;
}
.home ul li span:hover {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}
.library {
  min-height: 60.7vh;
  position: relative;
}

.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-bottom: 8px;
  align-items: center;
  font-weight: 400;
}
.heading h2 {
  font-size: 16px;
  margin-right: 100px;
}
.heading img {
  width: 26px;
}
.heading :nth-child(3) {
  margin-left: 46px;
}
.create-playlist {
  height: 228px;
  overflow-y: scroll;
  margin-top: 18px;
}
.box {
  background-color: #1f1f1f;
  border-radius: 10px;
  width: 90%;
  padding-top: 25px;
  margin-top: 20px;
  padding-left: 30px;
  height: 130px;
}
.box h4 {
  margin-bottom: 5px;
}
.box span {
  font-size: 13px;
  font-weight: 500;
}
.box button {
  margin-top: 20px;
  background-color: white;
  color: black;
  height: 35px;
  border: none;
  border-radius: 15px;
  padding: 9px;
  font-weight: 700;
}
.left-footer {
  display: grid;
  grid-template-columns: 56px 167px 102px;
  row-gap: 22px;
  font-size: 11px;
  position: absolute;
  bottom: 0;
  row-gap: 18px;
  margin-bottom: 30px;
  margin-right: 16px;
}
.left-footer a {
  color: rgb(183, 179, 179);
  text-decoration: none;
  padding: 10px;
}
.lang {
  margin-top: 30px;
  display: flex;
  gap: 7px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.341);
  border-radius: 33px;
  height: 40x;
  width: 100px;
  padding: 5px 4px 5px 12px;
}
.lang span {
  font-weight: 700;
  font-size: 15px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #101010;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav {
  height: 45px;
  margin-top: 23px;
}
.nav :nth-child(1) {
  margin-left: 30px;
  margin-right: 18px;
}
.nav-buttons {
  margin-top: 7px;
  margin-right: 35px;
}
.nav-buttons button {
  height: 50px;
  width: 109px;
  border-radius: 25px;
  font-size: 15px;
}
.nav-buttons :nth-child(1) {
  background-color: #101010;
  border: none;
  font-weight: 700;
}
.nav-buttons :nth-child(2) {
  background-color: white;
  border: none;
  font-weight: 700;
}
.heading-right-data {
  display: flex;
  justify-content: space-between;
}
.heading-right-data span {
  font-size: 14px;
  margin-right: 35px;
  margin-top: 10px;
  font-weight: 700;
}
.artists-card {
  width: 162px;
  margin-right: 15px;
}

.artists-card img {
  width: 145px;
  height: 145px;
  object-fit: cover;
  border-radius: 50%;
}
.card-container {
  display: flex;
  justify-content: space-between;
}
.play {
  width: 29px;
  height: 29px;
  background-color: #1fdf64;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 141px;
  left: 106px;
}
.card {
  margin-right: 30px;
}
.card img {
  width: 145px;
  border-radius: 10px;
}
.card-heading {
  width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.artist {
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.featured {
  width: 120px;
}

.footer {
  padding-top: 12px;
  background-color: white;
  color: black;
  font-size: 14px;
  height: 56px;
  width: 100vw;
  padding-left: 43px;
  padding-top: 12px;
  position: fixed;
  bottom: 0;
}
.footer a {
  color: black;
}
